.custom-container {
    margin: 0 auto;
    padding: 100px 114px;
    /* height: 100vh; */
}

.custom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.custom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px
}

.custom-right h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 38.4px;
    background: linear-gradient(to right, #4A6DF2, #FF9800 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}

.custom-right p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFCFE;
    padding-bottom: 10px;
}

.custom-left img {
    max-width: 541px;
    max-height: 486px;
    transform: scaleX(-1);
    object-fit: cover;
    border-radius: 0px 40px 40px 40px;
}

.custom-left {
    flex: 1;
    position: relative;
    /* text-align: right; */
    padding-left: 12px;
}

.custom-left::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    width: calc(85% + 15px);
    height: calc(85% + 15px);
    border-top: 10px solid;
    border-right: 10px solid;
    border-image-source: linear-gradient(to left, #2D8FCE, #FF9800);
    border-image-slice: 1;
    border-image-repeat: stretch;
    pointer-events: none;
    box-sizing: border-box;
}

@media (max-width:1520px) {
    .custom-left::before {
        /* top: -10px;
        left: 2px; */
        width: calc(80% + 15px);
        height: calc(80% + 15px);
    }
}

@media (max-width: 1200px) {
    .custom {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .custom-container {
        padding: 20px 15px;
        margin: 0px 0px;
    }
    .custom {
        /* display: block; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .custom-right {
        padding: 10px 0px;
        gap: 20px
    }
    .custom-left img {
        width: 100%;
        height: auto;
        /* border-radius: 30px; */
    }
    .custom-right h1 {
        font-size: 32px;
    }
    .custom-right p {
        font-size: 18px;
    }
    .custom-btn {
        margin-left: 0px;
    }
}