/* Section Styling */

.contact-us {
    max-width: 1214px;
    /* max-height: 700px; */
    margin: 2rem auto;
    /* padding: 2rem; */
    background: linear-gradient( 90deg, #121C20 45%, #4161D8);
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* text-align: left; */
}


/* Header Styling */

.contact-us h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4A6DF2;
    margin-bottom: 1rem;
}


/* Container and Row Styling */

.container {
    max-width: 90%;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.contact-us .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


/* Columns */

.contact-us .col {
    flex: 1;
    /* min-width: 300px; */
}

.left-column {
    padding-right: 1rem;
}

.right-column {
    padding-left: 1rem;
}


/* Text Styling */

.contact-us p {
    color: #B1B8BC;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1em;
}


/* Form Styling */

.contact-us form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-us .form-group {
    display: flex;
    flex-direction: column;
}

.contact-us label {
    font-size: 1.2rem;
    color: #FAFCFE;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.contact-us input,
.contact-us textarea {
    /* width: 100%; */
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #333;
    background-color: #f9f9f9;
}


/* Button Styling */

.contact-us .submit-btn {
    --color: #4722ce;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    height: 2.6em;
    line-height: 1em;
    /* margin: 20px; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    /* border: 2px solid var(--color); */
    transition: color 0.5s, background 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 16px;
    font-weight: 500;
    color: white;
    background-color: #3F5DD1;
    border: none;
}

.contact-us .submit-btn:hover {
    color: #8ba0f1;
}


/* .contact-us .submit-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
} */


/* 
.contact-us .submit-btn:hover:before {
    top: -30px;
    left: -30px;
} */


/* List Styling */

.right-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contactgif {
    height: 313px;
    max-width: 350px;
}

.contact-us ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 20px
}

.contact-icon {
    font-size: 20px;
    color: #4A6DF2;
}


/* Media Queries */

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 1.5rem;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .contact-us {
        margin: 10px 10px;
        background: linear-gradient( 180deg, #121C20 45%, #4161D8);
    }
    .left-column,
    .right-column {
        /* flex: 0 0 100%; */
        margin-bottom: 30px;
    }
    .right-column {
        padding: 0.5rem;
    }
    .right-column h2 {
        color: white
    }
    .right-column img.project-gif {
        max-width: 100%;
    }
    button.submit-btn {
        width: 100%;
    }
    .contact-us ul {
        gap: 15px
    }
    .contact-icon {
        font-size: 20px;
        color: #eeeeee;
    }
    .right-column h2 {
        color: #fff;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .contact-us input,
    textarea {
        padding: 8px;
    }
    button.submit-btn {
        padding: 12px;
    }
    .contact-us ul {
        gap: 10px
    }
}


/* location customize */

.location-card {
    color: rgb(189, 187, 187)
}

.location-details p {
    color: white
}

#location-heading {
    font-size: 24px;
}

@media (max-width: 480px) {
    #location-heading {
        font-size: 1.5rem;
        color: #ffffff;
    }
}