.topNavContainer {
    height:13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 40px;
    position: relative;
  }
  
  .ziostechLogo {
    width: 180px;
    height: auto;
    object-fit: contain; /*Ensure the logo maintains its aspect ratio*/
  }
  
  .navBarLinks {
    display: flex;
    gap: 25px;
  }
  
  .navBarLinks ul {
    display: flex;
    gap:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBarLinks li {
    list-style-type: none;
    font-size: 16px;
    cursor: pointer;
    font-weight:500;
  }
  
  .menuToggleButton {
    display: none;
    font-size:30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight:bold;

  }
  
  @media (max-width: 768px) {
    /* Responsive Logo */
    .ziostechLogo {
      width: 200px; /* Resize logo on smaller screens */
      height: auto; /* Adjust height */
    }
  
    /* Hide the navigation menu by default */
    .navBarLinks {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #0E1518;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 200px;
      max-width: 100%;
      border-radius:12px;
    }
  
    .navBarLinks.show {
      display: flex; /* Show the menu when the "show" class is added */
    }
  
    /* Style for each menu item in the popup */
    .navBarLinks ul {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      gap: 15px;
      padding: 0;
      margin: 0;
    }
  
    .navBarLinks li {
      font-size: 18px;
      padding: 10px 0;
    }
  
    .menuToggleButton {
      display: block; /* Show the hamburger menu button on small screens */
    }
  }
  
  @media (max-width: 480px) {
    /* Further adjustment for very small screens */
    .ziostechLogo {
      width: 150px; /* Resize further for very small screens */
      height:auto; /* Adjust height */
    }
  }
  

