.CommonButton {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    padding-left:20px;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color:#253F9B;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    width:140px;
    height:40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color:#000;
    background-color: #FF9800;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  /* .button:hover {
    background-color: #fff;
  } */
  
  .CommonButton:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .CommonButton:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .CommonButton:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  