.ourProjectContainer{
    text-align: center;
    margin:40px 20px;
}
.ourProjectContainer .ourProjectHeading{
    background: linear-gradient(to left, #446CFB, #FF9800);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:60px 0;
    font-size:40px;
}
.ourProjectContainer .ourProjectHeadingPara{
    line-height:1.6;
    letter-spacing:.8px;
    margin:30px 100px ;

}

.ourProjectsCardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    height: auto;
    /* background-color: #2431377c; */
    background-color: #3A4960;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 100px auto;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.ourProjectsCardContainer:hover {
    transform: scale(1.02);
}

.ourProjectCardImageContainer {
    flex: 1;
    max-width: 70%;
    text-align: center;
}

.ourProjectCardImageContainer img {
    width: 100%;
    max-width: 400px;
    height:auto;
    border-radius: 20px;
    object-fit: cover;
}

.ourProjectsContentContainer {
    flex: 1;
    max-width: 50%;
    background-color: #222D3D;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius:120px;
}   

.ourProjectsContentContainer h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    color:#096AC3;
    font-weight:bold;
}

.ourProjectsContentContainer p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    color: #CDD6E2;
    font-weight:500;
}

.ourProjectsContentContainer p:hover {
    color: #F0F8FF;
}

@media (max-width: 768px) {

    .ourProjectsCardContainer {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .ourProjectContainer .ourProjectHeadingPara{
        margin:30px 20px;
    }

    .ourProjectCardImageContainer img {
        max-width: 100%;
    }

    .ourProjectsContentContainer {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .ourProjectsContentContainer h1 {
        font-size: 1.5rem;
    }
    .ourProjectContainer .ourProjectHeadingPara{
        margin:30px 10px;
    }

    .ourProjectsContentContainer p {
        font-size: 0.9rem;
        text-align: left;
    }
}
@media (max-width: 1024px) {
    .ourProjectsCardContainer {
        gap: 20px;
    }
}
