/* General container styling */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 1.25rem;
    /* Adjust for medium devices */
    padding: 1rem 1rem;
    /* px-4 py-4 equivalent */
    width: 100%;
    margin:10px 0 40px 0;
}


/* Add spacing for specific breakpoints */

@media (min-width: 640px) {
    .flex-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin:10 0 0px 0;

        /* sm:px-6 */
    }
}

@media (min-width: 1024px) {
    .flex-container {
        padding-left: 4rem;
        padding-right: 4rem;
        /* lg:px-16 */
    }
}


/* Individual stat cards */

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    min-height: 100px;
}

.stat-card h5 {
    font-size: 0.7rem;
    /* text-sm */
    font-weight: 500;
}

@media (min-width: 640px) {
    .stat-card h5 {
        font-size: 1rem;
        /* sm:text-md */
    }
}

@media (min-width: 768px) {
    .stat-card h5 {
        font-size: 1.125rem;
        /* md:text-lg */
    }
}

@media (min-width: 1024px) {
    .stat-card h5 {
        font-size: 1.25rem;
        /* lg:text-xl */
    }
}


/* Number styling */

.stat-number {
    color: #1e40af;
    /* text-blue-800 */
    font-size: 1.5rem;
    /* text-2xl */
    /* Breakpoint adjustments */
    @media (min-width: 640px) {
        font-size: 1.875rem;
        /* sm:text-3xl */
    }
    @media (min-width: 768px) {
        font-size: 3rem;
        /* md:text-5xl */
    }
    @media (min-width: 1024px) {
        font-size: 3.75rem;
        /* lg:text-[60px] */
    }
}


/* Employee-specific styling */


/* #employee {
    @media (max-width: 464px) {
        height: 40px;
    }
} */

.divider {
    margin-top: 50px;
    width: 3px;
    height: 60px;
    background-color: #FF9800;
}

@media (max-width:768px) {
    .divider {
        margin-top: 20px;
        width: 3px;
        height: 30px;
        background-color: #FF9800;
    }
}