    body {
        margin: 0;
        padding: 0;
    }
    /* About Us Section */
    
    .about-us-mission {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #missisonSection {
        padding-left: 7vw;
    }
    /* Mission Section */
    
    .section {
        padding: 40px 20px;
        color: #c7c7c7;
    }
    
    .mission {
        background-color: #121C20;
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    
    .vision {
        background-color: #1A262C;
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    
    .value {
        background-color: #243137;
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    /* .mission .vision .value {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
    
    .section h2 {
        font-size: 32px;
        font-weight: 700;
        background: linear-gradient(to right, #4A6DF2, #FF9800);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        /* margin-bottom: 20px; */
    }
    
    .section p {
        font-size: 20px;
        font-weight: 400;
        color: #FAFCFE;
        line-height: 1.6;
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    /* Values Section */
    
    .values {
        padding: 10px 0px;
        background-color: #243137;
    }
    
    .values-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }
    
    .value-item {
        padding: 20px;
        max-width: 280px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .value-item span {
        font-size: 58px;
        color: #4e8cff;
    }
    
    .value-item h3 {
        font-size: 32px;
        font-weight: 600;
        color: #FAFCFE;
        /* margin: 15px 0; */
    }
    
    .value-item p {
        font-size: 20px;
        color: #FAFCFE;
        line-height: 24px;
        font-weight: 400;
    }
    /* Responsive Design */
    
    @media screen and (max-width: 768px) {
        #missisonSection {
            padding-left: 50px;
        }
        .values-grid {
            flex-direction: row;
            padding-top: 0px;
        }
        .section h2 {
            font-size: 24px;
        }
        .section p {
            font-size: 21px;
        }
        .value-item {
            max-width: 50%;
        }
        .value-item h3 {
            font-size: 22px;
        }
    }
    
    @media screen and (max-width: 480px) {
        #missisonSection {
            padding-left: 0px;
        }
        .section {
            padding: 40px 0px;
        }
        .mission {
            flex-direction: column;
        }
        .vision {
            flex-direction: column;
        }
        .value {
            flex-direction: column;
        }
        .values {
            padding: 0px 0px;
        }
        .values-grid {
            flex-direction: row;
            gap: 10px;
            padding-top: 0px;
        }
        .section h2 {
            text-align: center;
        }
        .section p {
            font-size: 18px;
            text-align: center;
        }
        .value-item {
            padding: 1px;
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .value-item h3 {
            font-size: 20px;
        }
        .value-item p {
            font-size: 16px;
        }
    }