/* From Uiverse.io by alexmaracinaru */ 
.viewAllBtn {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    /* background: #cfef00; */
    background:     #566573;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    position:relative;
    left:100px;
    transition:all .5s linear;
  }
  
  .viewAllBtn:hover {
    /* background: #c4e201; */
    background: #34495e;
  }
  
  .viewAllBtn > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .viewAllBtn:hover svg {
    transform: translateX(5px);
  }
  
  .viewAllBtn:active {
    transform: scale(0.95);
  }
  