.back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    background: linear-gradient(135deg, #cb6811, #2575fc); /* Attractive gradient */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Softer shadow */
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Larger icon */
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
  }
  
  .back-to-top:hover {
    transform: scale(1.2); /* Slight zoom effect */
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    background: linear-gradient(135deg, #2575fc, #6a11cb); /* Reverse gradient */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .back-to-top {
    animation: fadeIn 0.5s ease-in-out; /* Entry animation */
  }
  
  @media (max-width:480px){
    .back-to-top{
        width:40px;
        height:38px;
        right:1px;
        bottom:60px;
    }
  }