/* Management Team Section */

.teamContainer {
    padding: 8vh 12vw;
}

.teamCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.team {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: #121C20;
    height: 383px;
    width: 326px;
    border-radius: 30px;
    gap: 10px;
    padding-top: 30px;
}


.team h2 {
    font-size: 24px;
    color: #4A6DF2;
    font-weight: 700;
}

.team h3 {
    font-size: 18px;
    color: #4A6DF2;
    font-weight: 500;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #FAFCFE;
    text-align: center;
}

.team img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: contain;
    border: 5px solid rgba(255, 166, 0, 0.968);
}

@media (max-width:768px) {
    .teamContainer {
        padding: 2vh 4vw;
    }
}


/* Leadership Section */

.managementSection {
    padding: 8vh 8vw;
}

.leaderShipContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px
}


/* .leadership {
    display: flex;
    justify-content: center;
} */

.leaderahipHeader {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
     */
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right, #4A6DF2, #FF9800 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leadership-section {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 50px;
    padding-top: 50px;
}

.leader-image {
    /* text-align: center; */
    width: 60%;
}

.leader-image img {
    width: 100%;
    height: 323px;
    /* width: 312px; */
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px #f2f4f4;
}

.leader-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
}

.leader-description h3 {
    font-size: 32px;
    font-weight: 600;
    color: #4566E4;
}

.leader-description h4 {
    font-size: 24px;
    font-weight: 600;
    color: #E29125;
}

.leader-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #FAFCFE;
    flex: 1;
    margin-bottom: 20px;
}


/* Responsive Design */

@media screen and (max-width: 1344px) {
    .leader-description {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .managementSection {
        padding: 2vh 6vw;
    }
    .leadership-section {
        flex-direction: column;
    }
    .leader-image {
        text-align: center;
        margin-bottom: 0px;
    }
    .leader-image img {
        width: 100%;
        height: 323px;
        /* width: 312px; */
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px 10px #f2f4f4;
    }
}

@media screen and (max-width: 480px) {
    .managementSection {
        padding: 2vh 6vw;
    }
    .leadership-section {
        padding-top: 15px;
    }
    .leader-image img {
        width: 70vw;
        height: 200px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px 10px #f2f4f4;
    }
    .leader-description p {
        font-size: 18px;
    }
}