        /* Container for the entire section */
        
        .about-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 50px 114px;
            flex-wrap: wrap;
        }
        /* Content Section */
        
        .about-section-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-right: 30px;
            font-family: 'Lato', sans-serif;
        }
        
        .about-section-content h1 {
            font-size: 42px;
            font-weight: 800;
            background: linear-gradient(to right, #4A6DF2, #FF9800 40%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;
            margin-bottom: 20px;
        }
        
        .about-section-content p {
            font-size: 20px;
            line-height: 1.8;
            font-weight: 500;
            margin-bottom: 30px;
            color: #FAFCFE;
        }
        /* Image Section */
        
        .about-section-image {
            flex: 1;
            position: relative;
            text-align: right;
            padding-left: 12px;
        }
        
        .about-section-image::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 30px;
            width: calc(80% + 15px);
            height: calc(80% + 15px);
            border-top: 10px solid;
            border-left: 10px solid;
            border-image-source: linear-gradient(to right, #2D8FCE, #FF9800);
            border-image-slice: 1;
            border-image-repeat: stretch;
            pointer-events: none;
            box-sizing: border-box;
        }
        
        @media (max-width:1520px) {
            .about-section-image::before {
                top: -10px;
                left: 2px;
                width: calc(80% + 15px);
                height: calc(80% + 15px);
            }
        }
        
        .about-section-image img {
            width: 605px;
            height: 400px;
            object-fit: cover;
            border-radius: 0px 40px 40px 40px;
        }
        /* Responsive Design */
        
        @media (max-width:1000px) {
            .about-section {
                flex-direction: column;
                gap: 1rem;
                padding: 20px;
            }
            .about-section-image img {
                width: 100%;
                height: auto;
            }
        }
        
        @media (max-width: 768px) {
            .about-section {
                flex-direction: column;
                gap: 1rem;
                padding: 20px;
            }
            .about-section-content {
                margin-right: 0;
                margin-bottom: 20px;
                text-align: left;
            }
            .about-section-content h1 {
                font-size: 32px;
            }
            .about-section-content p {
                font-size: 18px;
            }
            .about-section-image img {
                width: 100%;
                height: auto;
            }
        }