.testimonialCardContainer {
    width: 100%;
    /*Adjust to fit smaller screens */
    max-width: 300px;
    /* Maintain the maximum width for larger screens */
    height: 400px;
    /* background-color: #0E1518; */
    background-color: #121C20;
    /* background-color: #ffffff0a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
    gap: 10px;
    /* position: relative; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a slight shadow for better aesthetics */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}


/* .testimonialCardContainer:hover{
  transform: translateY(-10px);
} */

.testimonialImageContainer {
    width: 90px;
    /* Adjust size for responsiveness */
    height: 90px;
    /* margin-bottom:20px; */
    /* position: relative; 
 margin-top:-40px;  */
}

.testimonialCardContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(255, 166, 0, 0.968);
}

.testimonialName {
    color: #4A6DF2;
    margin-top: 50px;
    /* Adjust margin to accommodate the image container */
    font-size: 1rem;
    /* Use relative units for text size */
}

.aboutTestimonial {
    display: flex;
    flex-direction: column;
    /* gap: 5px; Add some spacing between elements */
}

.aboutTestimonial p {
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    /* Use relative units for text size */
    color: #ffffff;
    /* Ensure text is readable */
}

.testimonialDoubleQuotes {
    color: #FB9704;
    font-size: 2rem;
    /* Use relative units for font size */
}

.leftQuotes {
    text-align: left !important;
}

.rightQuotes {
    text-align: right !important;
}


/* Responsive Design */

@media (max-width: 768px) {
    .testimonialCardContainer {
        padding: 15px 20px;
        border-radius: 20px;
        /* Reduce rounding on smaller screens */
        height: 350px;
    }
    .testimonialImageContainer {
        width: 70px;
        height: 70px;
        top: -35px;
    }
    .testimonialName {
        margin-top: 60px;
        font-size: 1rem;
    }
    .aboutTestimonial p {
        font-size: 0.8rem;
    }
    .testimonialDoubleQuotes {
        font-size: 1.8rem;
    }
}